body {
    background-image: url(https://media2.giphy.com/media/BHNfhgU63qrks/giphy.gif);
    background-size: cover;
    color: white;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.link {
    color: white;
}

.frame {
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}