body {
    background-image: url(https://media2.giphy.com/media/BHNfhgU63qrks/giphy.gif);
    background-size: cover;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #262626;
}

div {
    background-color: white;
    opacity: 0.8;
    margin-left: 200px;
    margin-right: 200px;
}

.link {
    color: #262626;
    opacity: 1;
}

.text {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #262626;
    opacity: 1;
}