body {
    background-image: url(https://media2.giphy.com/media/BHNfhgU63qrks/giphy.gif);
    background-size: cover;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #262626;
}

div {
    background-color: #EAEAFB;
    opacity: 0.8;
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
}

.link {
    color: #262626;
    opacity: 1;
}

.text {
    font-family: 'Montserrat', sans-serif;
    color: #262626;
    opacity: 1;
}