.fit { 
    width: 100%; 
    height: auto; 
}

body {
    background-color: #57a39c;
}

.text {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.description {
    text-align: center;
    margin-top: 25%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25%;
}